* {
   margin: 0; 
    padding: 0;
    box-sizing: border-box; 
    
  };
.App {
  font-family: Poppin, sans-serif;
  text-align: center;
  width: 100%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* drawer */
.MuiDrawer-paper{
  background-color: transparent !important; 
}
/* popover */
.newfeeds__options {
  padding: 20px;
}
.newfeeds__options-item{
  padding: 5px 10px;
  font-size: 14px;
  text-transform: capitalize;
  transition: 250ms;
}
.newfeeds__options-item:hover{
  background-color: gray;
  
}